{% extends 'base.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'dash/styles/style.css' %}">
{% endblock %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'dash:index' %}">Toets Planner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for name, link in nav_items.items %}
                    {% url link as the_url %}
                    <li class="nav-item {% if the_url == request.path %}active{% endif %}">
                        <a class="nav-link" href="{{ the_url }}">
                            {{ name }}{% if the_url == request.path %}<span class="sr-only">(huidig)</span>{% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Django Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:logout' %}">Uitloggen</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block messages %}
    {# https://simpleisbetterthancomplex.com/tips/2016/09/06/django-tip-14-messages-framework.html #}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}


{% block js_libs %}
    <!-- Handlebars -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.min.js"
            integrity="sha256-oh7N5nthuhldTk8/34Za7FXv3BkeVN9vAnYk/pLfC78=" crossorigin="anonymous"></script>
{% endblock %}