{% extends 'dash/base.html' %}
{% load static %}
{% block title %}
    Genereer Events
{% endblock %}
{% block main %}
    <form method="post">
        <div id="setup-events">
            <h3>Maak Events voor {{ event_type.name }} ({{ event_type.slug }})</h3>
            {% load crispy_forms_tags %}
            {% crispy form %}
        </div>
        <div id="choose-hosts">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col"></th>
                    {% for day in days %}
                        <th scope="col">{{ day }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for time in times %}
                    <tr>
                        <th scope="row">{{ time }}</th>
                        {% for day in days %}
                            <td>
                                {% for nr in nrs %}
                                    <div class="form-group">
                                        <select class="form-control" name="{{ day | slugify }}-{{ time | slugify }}-{{ nr }}">
                                            <option value>None</option>
                                            {% for host in hosts %}
                                                <option value="{{ host.username }}">{{ host.first_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

{% block script %}
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const datetimepicker_first_date = $('#datetimepicker_first_date');
            const datetimepicker_last_date = $('#datetimepicker_last_date');

            const date_settings = {'useCurrent': false, format: 'L', locale: 'nl'}

            datetimepicker_first_date.datetimepicker(date_settings);
            datetimepicker_last_date.datetimepicker(date_settings);

            datetimepicker_first_date.datetimepicker('daysOfWeekDisabled', [0, 2, 3, 4, 5, 6]);
            datetimepicker_last_date.datetimepicker('daysOfWeekDisabled', [0, 1, 2, 3, 4, 6]);


            datetimepicker_first_date.on("change.datetimepicker", (e) => {
                datetimepicker_last_date.datetimepicker('minDate', e.date);
            });
            datetimepicker_last_date.on("change.datetimepicker", (e) => {
                datetimepicker_first_date.datetimepicker('maxDate', e.date);
            });

        })
    </script>
{% endblock %}