{% extends 'dash/base.html' %}
{% block title %}
    Dashboard
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-md-3 d-print-none mb-2">
            <div id="dateTabList" class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                {% for moment in test_moments %}
                    <a class="nav-link" id="date-{{ moment.id }}-tab" role="tab"
                       href="#date-{{ moment.id }}" data-tm-id="{{ moment.id }}"
                       data-toggle="pill">{{ moment.date }} ({{ moment.location }})</a>
                {% empty %}
                    <a class="nav-link"  role="tab"
                       href="#"
                       data-toggle="pill">There a no dates</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <div id="student-list"></div>
        </div>
    </div>
    {% include 'dash/cancelModal.html' %}
{% endblock %}

{% block script %}
    {% load static %}
    <script>
        Handlebars.registerHelper("join", function (context, block) {
            const delimiter = block.hash.delimiter || ", ";
            return context.join(delimiter);
        });

        function removeTrailingSlash(str) {
            return str.replace(/\/$/, "");
        }

        function disableCancelConfirmButton(button) {
            button.attr('disabled', true);
            button.html("<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>\n" +
                "  <span class=\"sr-only\">Loading...</span>");
        }

        function resetCancelConfirmButton(button) {
            button.removeAttr('disabled');
            button.html('Ja');
        }

        function studentListWaitingSpinner() {
            $('#student-list').html("<div class=\"d-flex justify-content-center\">\n" +
                "  <div class=\"spinner-border\" role=\"status\">\n" +
                "    <span class=\"sr-only\">Loading...</span>\n" +
                "  </div>\n" +
                "</div>");
        }

        function prepareModal(cancelVars) {
            const modalBody = $('.modal-body');
            modalBody.html("");
            $.get('{% static 'dash/templates/cancel.hbs' %}')
                .done(function (data) {
                    const cancelTemplate = Handlebars.compile(data);
                    modalBody.html(cancelTemplate(cancelVars));
                });
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        window.history.replaceState(null, null, removeTrailingSlash(location.pathname) + location.hash);

        $(function () {
            // Load appointment template
            $.get('{% static 'dash/templates/appointments.hbs' %}')
                .done(function (data) {
                    const template = Handlebars.compile(data);

                    // Bind on-click to menu pills
                    $('a[data-toggle="pill"]').on("shown.bs.tab", function () {
                        const tmId = $(this).data('tm-id');

                        location.hash = `date-${tmId}`;

                        // Get appointments
                        $.getJSON(`/api/appointments/${tmId}`)
                            .done(function (data) {
                                $('#student-list').html(template(data));

                                // Bind delete function to appointments
                                $('.cancel-inline').click(function () {
                                    const span = $(this);
                                    $('#modalCancelButton').data('app-id', span.data('app-id'));

                                    var cancelVars = {
                                        time: span.parent().parent().siblings().html(),
                                        name: span.parent().find('.name').html()
                                    };

                                    prepareModal(cancelVars);

                                    $('#cancelConfirmModal').modal('show');
                                });
                            });
                    });

                    const hashTab = $(`a[href="${location.hash}"]`);
                    if (hashTab.length) {
                        hashTab.tab('show')
                    } else {
                        $('#dateTabList a:first-child').tab('show')
                    }
                });

            $('#modalCancelButton').click(function () {
                const button = $(this);
                disableCancelConfirmButton(button);
                console.log(button.data());
                const appId = button.data('app-id');

                $.post('{% url 'cancel_appointment' %}', {appId: button.data('app-id')})
                    .done(function (data) {
                        if (data) {
                            $(`li[data-app-id=${appId}]`).remove();
                        }
                        $('#cancelConfirmModal').modal('hide');
                        resetCancelConfirmButton(button);
                    });
            });
        });
    </script>
{% endblock %}