{% extends 'dash/base.html' %}
{% block title %}
    Dashboard
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-md-2 d-print-none">
            <div id="dateTabList" class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                {% for moment in test_moments %}
                    <a class="nav-link" id="date-{{ moment.id }}-tab" role="tab"
                       href="#date-{{ moment.id }}" data-tm-id="{{ moment.id }}"
                       data-toggle="pill">{{ moment.date }} ({{ moment.location }})</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-10">
            <div class="tab-content">
                <div id="student-list"></div>
            </div>
        </div>
    </div>
    {% include 'dash/cancelModal.html' %}
{% endblock %}

{% block script %}
    {% load static %}
    <script>
        Handlebars.registerHelper("join", function (context, block) {
            var delimiter = block.hash.delimiter || ", ";
            return context.join(delimiter);
        });

        function removeTrailingSlash(str) {
            return str.replace(/\/$/, "");
        }

        function disableCancelConfirmButton(button) {
            button.attr('disabled', true);
            button.html("<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>\n" +
                "  <span class=\"sr-only\">Loading...</span>");
        }

        function resetCancelConfirmButton(button) {
            button.removeAttr('disabled');
            button.html('Ja');
        }

        function studentListWaitingSpinner() {
            $('#student-list').html("<div class=\"d-flex justify-content-center\">\n" +
                "  <div class=\"spinner-border\" role=\"status\">\n" +
                "    <span class=\"sr-only\">Loading...</span>\n" +
                "  </div>\n" +
                "</div>");
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        window.history.replaceState(null, null, removeTrailingSlash(location.pathname) + location.hash);

        $(function () {
            // Load appointment template
            $.get('{% static 'dash/templates/appointments.hbs' %}')
                .done(function (data) {
                    var template = Handlebars.compile(data);

                    // Bind on-click to menu pills
                    $('a[data-toggle="pill"]').on("shown.bs.tab", function () {
                        location.hash = `date-${$(this).data('tm-id')}`;

                        // Get appointments
                        $.getJSON(`/api/appointments/${$(this).data('tm-id')}`)
                            .done(function (data) {
                                $('#student-list').html(template(data));

                                // Bind delete function to appointments
                                $('.appointment-listing').click(function () {
                                    var li = $(this);
                                    $('#cancelAppointmentButton').data('app-id', li.data('app-id'));

                                    var cancel_vars = {
                                        time: li.parent().siblings().html(),
                                        name: li.find('.name').html()
                                    };

                                    // Get template for modal-body
                                    $.get('{% static 'dash/templates/cancel.hbs' %}')
                                        .done(function (data) {
                                            var del_template = Handlebars.compile(data);
                                            $('.modal-body').html(del_template(cancel_vars));
                                        });

                                    $('#cancelConfirmModal').modal('show');
                                });
                            });
                    });
                    if (location.hash) {
                        $(`a[href="${location.hash}"]`).tab('show')
                    } else {
                        $('#dateTabList a:first-child').tab('show')
                    }
                });

            $('#cancelAppointmentButton').click(function () {
                var button = $(this);
                disableCancelConfirmButton(button);
                var app_id = button.data('app-id');

                $.post('{% url 'cancel_appointment' %}', {app_id: button.data('app-id')})
                    .done(function (data) {
                        if (data) {
                            $(`li[data-app-id=${app_id}]`).remove();
                        }
                        $('#cancelConfirmModal').modal('hide');
                        resetCancelConfirmButton(button);
                    });
            });
        });
    </script>
{% endblock %}