{% extends 'planner/base.html' %}

{% block title %}
    Kies een datum
{% endblock %}

{% block body %}
    <main class="container">
        <h1>{{ course.name }}</h1>
        <div class="btn-group-vertical" role="group">
            {% for test_moment in test_moments %}
                {% url 'choose_time' course_name=course.short_name date=test_moment.date|slugify as date_url %}
                <a class="btn btn-outline-primary" href="{{ date_url }}">{{ test_moment.date }} tussen {{ test_moment.start_time }}
                    en {{ test_moment.end_time }}</a>
            {% endfor %}
        </div>
    </main>
{% endblock %}